node_modules
npm-debug.log
dist
coverage
.nyc_output
.env
.env.local
.env.*.local
.DS_Store
*.log
.git
.gitignore
README.md
.eslintcache
.prettierignore
test
*.test.ts
*.spec.ts
*.e2e-spec.ts
jest.config.js
.vscode
.idea